<div class="cta">
  <div class="container">
    <div class="col-md-2">
      <img src="/asserts/img/maker-party.svg" class="img-responsive">
    </div>
    <div class="col-md-10">
      <p class="lead">
        Maker Party is in full swing, and the focus this year is on copyright reform in the European Union.
        Help make a different to bring EU copyright laws up to date, to foster creativity and innovation on the Web.
      </p>
      <a class="btn btn-default btn-lg" href="https://www.makerparty.community/" role="button" target="_blank">Learn more</a>
    </div>
  </div>
</div>
