{% assign l = site.data.l10n.[page.lang] %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }} - {{ l.site-title | escape }}{% else %}{{ l.site-title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="shortcut icon" href="/assets/favicon.ico">
  <link rel="stylesheet" href="//code.cdn.mozilla.net/fonts/fira.css">
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/bootstrap-sortable.css">
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">

  <!-- Translations for this page -->
  {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
  {% for page in pages %}
    <link rel="alternate" hreflang="{{ page.lang }}" href="{{ page.url }}" />
  {% endfor %}
</head>
