{% assign l = site.data.l10n.[page.lang] %}

<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/{{ l.lang-url }}">{{ l.site-title }}</a>

    <div class="trigger">
        <a class="page-link" href="{{ site.baseurl }}/{{ l.lang-url }}faq">{{ l.faq }}</a>
        <a class="page-link" href="{{ site.baseurl }}/{{ l.lang-url }}roadmap">{{ l.roadmap }}</a>
    </div>

      <div id="tabzilla">
            <a href="https://www.mozilla.org/" data-link-type="nav" data-link-name="tabzilla">Mozilla</a>
        </div>
    </nav>

  </div>

</header>
