{% assign l = site.data.l10n.[page.lang] %}
{% assign lang = page.lang %}

{% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}

<form id="lang_form" method="get" action="#">
  <select id="page-language-select" name="lang" class="form-control" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
    {% for page in pages %}
      {{ page.lang }}
      {% unless site.disabled_languages contains page.lang %}
        <option value="{{ page.url | prepend: site.url }}" lang="{{ page.lang }}" {% if page.lang contains lang %}selected{% endif %}>{{ page.lang | upcase }}</option>
      {% endunless %}
    {% endfor %}
  </select>
</form>
