{% assign l = site.data.l10n.[page.lang] %}

{% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}

<div class="row">
  <div class="col-md-6">
    <p class="language-list text-left">{{ l.languages }}: {% for page in pages %} <a  class="{{ page.lang }}" title="{{ page.title }}" href="{{ page.url | prepend: site.url }}">{{page.lang}}</a> {% endfor %}</p>
  </div>
  <div class="col-md-6">
    <p class="add-translation text-right"><a href="https://github.com/mozilla/activate.mozilla.community#submit-a-new-localization">{{ l.submit-translation }}</a></p>
  </div>
</div>
