/**
 * Site header
 */
.site-header {
    border-bottom: 1px solid #ad322d;
    color: #fff;
    min-height: 40px;
    background: #3F4B73;
    height: 60px;

    // Positioning context for the mobile navigation icon
    position: relative;

    img.brand {
        max-width: 200px;
        margin-bottom: 10px;
        margin-right: 10px;
    }

    a.page-link,
    a.page-link:focus,
    a.page-link:active {
        color: white;
    }

    a.page-link:hover {
        color: #F8F273;
    }
}

.site-title {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    margin-right: 23px;
    float: left;

    &, &:visited {
        color: #e29fa0;
    }
    &:hover {
        color: #fff;
        text-decoration: none;
    }
}

.page-link {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    margin-right: 20px;
    float: left;

    &, &:visited {
        color: #e29fa0;
    }
    &:hover {
        color: #fff;
        text-decoration: none;
    }
}


/**
 * Site footer
 */
.site-footer {
    color: #a6a7a9;
    background-color: #4d4f53;
    padding: 40px 0;
    font-size: 0.9em;
    line-height: 1.3;
    width: 100%;
    margin: 1em 0 0;

    a {
        color: #a6a7a9;
    }

    .logo a {
        text-indent: 120%;
        white-space: nowrap;
        overflow: hidden;
        display: inline-block;
        background-image: url(https://www.mozilla.org/media/img/sandstone/footer-mozilla.png);
        width: 93px;
        height: 24px;
    }

    .footer-col {
        margin-bottom: 15px;
        padding: 15px;

        .links-social ul {
            line-height: inherit;
        }

        .links-social li li,
        .links-social li ul {
            display: inline;
            margin-left: 0;
        }

        .links-social li li::before {
            content: "\00B7\00A0";
        }

        .links-social li li:first-child::before {
            content: "";
        }

        ul.links-social {
            overflow: hidden;
            list-style: none;
            margin-left: 0;
        }
    }
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;

    ul.links-join, ul.links-legal {
        margin: 5px 0;
        overflow: hidden;

        li {
            float: left;
            margin: 0;
            list-style-type: none;

            &.wrap:before {
                content: "\00B7\00A0";
                margin-left: 3px;
            }
        }
    }
}


/**
 * Page content
 */
.page-content {
    .wrapper {
        background: #FFF;
        margin: 0 auto;
        padding: 40px;
        display: block;
        box-shadow: 0 0 0 1px #fff inset;
    }
}

.page-heading, .home h1 {
    color: $brand-color;
    margin-top: 5px;
    font-size: 4.5rem;
    text-align: center;
}

.home {
    text-align: center;

    h2 {
        font-size: 2rem;
        text-align: center;
        margin: 1.5em auto;
        padding-top: 0em;
        clear: both;
    }

    .area {
        text-align: center;
        font-weight: bold;

        img {
            margin-bottom: 10px;
        }

        &.area-small {
            text-align: center;

            img {
                max-width: 100px;
            }
        }
    }

    .disabled {
        filter: grayscale(90%) opacity(25%);
        -webkit-filter: grayscale(90%) opacity(25%);
        font-weight: normal;
    }
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post {
    position: relative;
}

.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;
    font-weight: normal;

    h2 {
        font-size: 2rem;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

/* Language list */
.en:lang(en), .es:lang(es), .pt:lang(pt), .fr:lang(fr) {
    font-weight: bold;
}


.post-languages {
    clear: both;
    padding-top: 4em;

    @include media-query($on-laptop) {
        .language-list,
        .add-translation {
            text-align: center;
        }
    }
}

.right {
    float: right;
    margin-left: 14px;
}

.left {
    float: left;
    margin-right: 14px;
}

.center {
    text-align: center;
}

.share {
    position: absolute;
    margin-top: -70px;
    right: -40px;
    text-align: center;
    color: #FFF;
    font-weight: bold;

    p {
        display: block;
        opacity: 0.6;
        height: 40px;
        width: 48px;
        box-shadow: 1px 0px 1px 1px #CCC;
        margin: auto;
        margin-top: 7px;
        border-radius: 6px;

        &:hover {
            opacity: 1;
            width: auto;
        }

        a {
            display: block;
            color: #FFF;
            padding-top: 8px;
            opacity: 0;
            transition: padding-left .5s, width .5s, opacity .2s ease-in;

            &:hover {
                text-decoration: none;
                width: auto;
                opacity: 1;
                padding-left: 50px;
                padding-right: 8px;
            }
        }
    }
    p.twitter {
        background: url("/asserts/img/twitter.png") no-repeat #0c99d5;
        background-position: 8px 4px;
    }

    p.facebook {
        background: url("/asserts/img/facebook.png") no-repeat #3B5998;
        background-position: 8px 4px;
    }
}

div.facebook {
    margin-top: -20px;
}

#markdown-toc {
    padding: 15px 20px 15px 35px;
    background: #f4f7f8;
    margin-left: 0px;
    display: table;
    border-left: solid 2px #acb0bd;
}

#tabzilla {
    position:relative;
    float:right
}
#tabzilla a {
    position:relative;
    display:block;
    width:147px;
    height:37px;
    text-indent:120%;
    white-space:nowrap;
    overflow:hidden;
    background-image:url(https://www.mozilla.org/media/img/tabzilla/tabzilla-static.png);
    background-repeat:no-repeat;
    z-index:2
}
@media(-webkit-min-device-pixel-ratio:1.5),(min--moz-device-pixel-ratio:1.5),(-o-min-device-pixel-ratio:3/2),(min-resolution:1.5dppx) {
    #tabzilla a {
        background-image:url(https://www.mozilla.org/media/img/tabzilla/tabzilla-static-high-res.png);
        -webkit-background-size:147px 37px;
        background-size:147px 37px
    }
}
#tabzilla:before {
    position:absolute;
    display:block;
    left:28px;
    top:0;
    width:88px;
    height:26px;
    content:'';
    background-color:transparent;
    z-index:1
}
