/**
 * Site header
 */
.site-header {
    border-bottom: 1px solid #ad322d;
    color: #fff;
    min-height: 40px;
    background: #c13832;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &, &:visited {
        color: #e29fa0;
    }
    &:hover {
        color: #fff;
        text-decoration: none;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
	color: #666;
	padding: 40px 0;
	font-size: .75rem;
	line-height: 1.3;
	background: #fff;
	width: 100%;
	margin: 1em 0 0;

    .logo a {
        text-indent: 120%;
        white-space: nowrap;
        overflow: hidden;
        display: inline-block;
        background-image: url(https://www.mozilla.org/media/img/sandstone/footer-mozilla.png);
        width: 93px;
        height: 24px;
    }
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;

    ul.links-join, ul.links-legal {
        margin: 5px 0;
        overflow: hidden;

        li {
            float: left;
            margin: 0;
            list-style-type: none;

            &.wrap:before {
                content: "\00B7\00A0";
                margin-left: 3px;
            }
        }
    }
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    background: url(https://www.mozilla.org/media/img/sandstone/bg-gradient-sand.png) repeat-x,url(https://www.mozilla.org/media/img/sandstone/bg-sand.png) repeat,#f5f1e8;
    padding-bottom: 100px;

    .wrapper {
        background: #FFF;
        margin: 0 auto;
        padding: 40px;
        display: block;
        box-shadow: 0 0 0 1px #fff inset;
        border-bottom: 1px solid #ddd;
    }
}

.page-heading, .home h1 {
    color: #c13832;
    margin-top: 5px;
    font-size: 4.5rem;
    text-align: center;
}

.home {
    h2 {
        font-size: 2rem;
        text-align: center;
        margin: 1.5em auto;
        clear: both;
    }

    .area {
        width: 210px;
        text-align: center;
        float: left;
        margin-right: 1em;

        img {
            margin-bottom: 10px;
        }
    }

    .disabled {
        filter:grayscale(90%) opacity(25%);
    }
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;
    font-weight: normal;

    h2 {
        font-size: 2rem;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.post-languages {
    font-size: .80rem;

    .add-translation {
        text-align: right;
    }
}

#tabzilla {
	position:relative;
	float:right
}
#tabzilla a {
	position:relative;
	display:block;
	width:147px;
	height:37px;
	text-indent:120%;
	white-space:nowrap;
	overflow:hidden;
	background-image:url(https://www.mozilla.org/media/img/tabzilla/tabzilla-static.png);
	background-repeat:no-repeat;
	z-index:2
}
@media(-webkit-min-device-pixel-ratio:1.5),(min--moz-device-pixel-ratio:1.5),(-o-min-device-pixel-ratio:3/2),(min-resolution:1.5dppx) {
	#tabzilla a {
		background-image:url(https://www.mozilla.org/media/img/tabzilla/tabzilla-static-high-res.png);
		-webkit-background-size:147px 37px;
		background-size:147px 37px
	}
}
#tabzilla:before {
	position:absolute;
	display:block;
	left:28px;
	top:0;
	width:88px;
	height:26px;
	content:'';
	background-color:transparent;
	z-index:1
}
