/**
 * Site header
 */
.site-header {
    color: #fff;
    min-height: 40px;
    background: $brand-color;
    height: 60px;
    // Positioning context for the mobile navigation icon
    position: relative;

    img.brand {
        max-width: 200px;
        margin-bottom: 10px;
        margin-right: 10px;
    }

    a.page-link,
    a.page-link:active,
    a.page-link:focus {
        color: white;
    }

    a.page-link:hover {
        color: #F8F273;
    }

    button.navbar-toggle {
        margin: 0;
        font-size: 1.5em;
    }
}

.site-title {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 60px;
    letter-spacing: -1px;
    margin-bottom: 0;
    margin-right: 23px;
    float: left;

    &,
    &:visited {
        color: #e29fa0;
    }

    &:hover {
        color: #fff;
        text-decoration: none;
    }
}

.page-link {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 60px;
    margin-bottom: 0;
    margin-right: 20px;
    float: left;

    &,
    &:visited {
        color: #e29fa0;
    }

    &:hover {
        color: #fff;
        text-decoration: none;
    }
}

.jumbotron {
    background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('/assets/img/top-header.png');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    border-radius: 0;
    min-height: 420px;
    display: flex;
    align-items: center;

    .flex-container {
        flex-direction: column;

        h1 {
            color: white;
            display: block;
            margin: auto;
        }

        .lead {
            color: white;
            margin: 20px auto;
            font-weight: 300;
            max-width: 75%;
            text-align: center;
        }
    }
}

.index-notice {
    margin-bottom: 30px;
}
/**
 * Site footer
 */
.home .site-footer {
    margin-top: -150px;
}

.site-footer {
    color: $text-color-light;
    background-color: #161616;
    padding: 40px 0;
    font-size: 0.9em;
    line-height: 1.3;
    width: 100%;
    margin: 0;

    .icons {
        margin-bottom: 20px;
        text-align: center;

        .icon-container {
            display: inline-block;
            margin: 0 1.125rem;
            min-width: 120px;
            font-size: 1.1em;
            @include media-query($on-palm) {
                display: block;
                width: 100%;
            }

            .icon {
                .footer-icon {
                    max-width: 18px;
                    margin-right: 5px;
                    @include media-query($on-palm) {
                        display: block;
                        margin: 5px auto;
                        width: 20px;
                    }
                }
                @include media-query($on-palm) {
                    text-align: center;
                }
            }
        }
    }

    a {
        color: $text-color-light;
        font-weight: normal;
    }

    a:hover {
        color: #ccc;
    }

    .footer-content {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        justify-content: center;
        max-width: 55rem;
        margin: 0 auto;

        a.logo {
            color: white;
            display: inline-block;
            border-right: 0.0625rem solid #666;
            padding-right: 1.25rem;
            margin-right: 1.25rem;
            margin-top: 0;
            padding-top: 0;
        }

        p {
            text-align: left;
            width: calc(100% - 10.375rem);
        }
    }
}
/**
 * Page content
 */
.page-content {
    min-height: 100%;

    .wrapper {
        background: #FFF;
        margin: 0 auto;
        padding: 40px;
        display: block;
        box-shadow: 0 0 0 1px #fff inset;

        .activity-card {
            text-align: left;
            border: 1px solid $grey-color-light;
            border-bottom: 3px solid $grey-color;
            min-height: 300px;
            max-width: 336px;
            margin: 0 10px 25px;
            padding-bottom: 32px;

            .item-header {
                margin-right: -15px;
                margin-left: -15px;
            }

            h2 {
                font-size: 2rem;
                text-align: center;
            }

            &.retired {
                padding-top: 0;

                img {
                    -webkit-filter: grayscale(100%);
                    filter: grayscale(100%);
                }
            }

            .retired-note {
                color: $red-color;
            }

            footer {
                position: absolute;
                bottom: 0;
                width: 100%;
                font-size: 0.75em;
                font-weight: 700;
                text-transform: uppercase;
                line-height: 25px;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                justify-content: space-between;
                padding-right: 42px;
            }

            &.programming {
                border-bottom: 3px solid $green-color;

                footer {
                    color: $green-color;
                }
            }

            &.testing {
                border-bottom: 3px solid $red-color;

                footer {
                    color: $red-color;
                }
            }

            &.participation {
                border-bottom: 3px solid $blue-color;

                footer {
                    color: $blue-color;
                }
            }
        }

        .row.is-flex {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }

        .row.is-flex > [class*='col-'] {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
        }

        .hidden {
            display: none;
        }
    }

    h2 {
        margin-top: 50px;
    }

    table {
        border: 1px solid #ddd;
        width: 100%;
        max-width: 100%;
        border-spacing: 0;
        border-collapse: collapse;

        tbody > tr > td,
        tbody > tr > th,
        tfoot > tr > td,
        tfoot > tr > th,
        thead > tr > td,
        thead > tr > th {
            padding: 8px;
            line-height: 1.42857143;
            vertical-align: top;
            border: 1px solid #ddd;
        }

        thead {
            background-color: $brand-color;
            color: white;
        }
    }

    .p404 {
        font-size: 1.2em;
        margin-top: 40px;
    }

    .activity-page {
        padding: 0 0 20px;
        background-color: $activity-background;

        h2 {
            border-top: 20px solid $activity-background;
            margin-right: -20px;
            margin-left: -20px;
            padding-left: 20px;
            padding-top: 20px;
        }

        h2:first-child {
            border: none;
            margin-top: 0;
            padding-top: 0;
        }

        .alert {
            border-radius: 0;
        }

        .post-content {
            .col-md-9 {
                width: 74%;
                margin-left: 1%;
                background-color: $post-content-background;
                padding: 20px;
            }
            @media(max-width: 768px) {
                .col-md-9 {
                    width: 100%;
                    margin-left: 0;
                }

                h2 {
                  text-align: left;
                }
                margin-right: 0;
                text-align: justify;
            }

            .col-md-3 {
                width: 24%;
                margin-right: -1%;
                background-color: $post-content-background;
                padding: 20px;
            }
        }

        .attention-link {
          font-size: 1.5em;
          font-weight: bold;
          text-align: center;
        }
    }

    .activity-img {
        max-width: 80px;
    }

    .activity {
        background-color: #eee;
        padding: 10px;
        border-radius: 10px;

        strong {
            display: block;
        }

        &.text-muted {
            strong::after {
                content: "retired";
                margin-left: 5px;
                margin-top: -2px;
                background-color: #aaa;
                padding: 0.1em 0.5em;
                font-size: 0.75em;
                color: #fff;
                text-align: center;
                white-space: nowrap;
                vertical-align: baseline;
                border-radius: 0.25em;
            }

            a {
                opacity: 0.7;
            }
        }
    }

    .timebox {
        display: inline-block;
        border-width: 0 0 0 2px;
        padding: 10px 12px;
        background-size: 18px;
        background-position: 8px center;
        background-repeat: no-repeat;
        width: auto;
        color: #3fb58e;
        background: #caf6e6;
        border-left: solid 2px #3fb58e;
    }

    .impactbox {
        padding: 10px;
        border-left: solid 2px #31708f;
    }
}

.home h1,
.page-heading {
    color: $brand-color;
    margin-top: 5px;
    font-size: 4.5rem;
    text-align: center;
}

.home {
    text-align: center;

    h2 {
        font-size: 2rem;
        text-align: center;
        margin: 1.5em auto;
        padding-top: 0;
        clear: both;
    }

    .area {
        text-align: center;

        span.area-title {
            display: block;
            margin-bottom: 10px;
            font-weight: bold;
        }

        span.area-text {
            display: block;
            margin-bottom: 10px;
        }

        &.area-small {
            text-align: center;

            img {
                max-width: 100px;
            }
        }

        .home-img {
            max-width: 150px;
            margin-bottom: 10px;
        }

        .btn {
            clear: both;
            margin-top: 10px;
        }
    }

    .disabled {
        filter: grayscale(90%) opacity(25%);
        -webkit-filter: grayscale(90%) opacity(25%);
        font-weight: normal;
    }
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

.clear {
    clear: both;
    color: transparent;
    margin-bottom: 0;
}

.retired {
    padding: 15px;
    background-color: #f2dede;
}
/**
 * Posts
 */
.post {
    position: relative;
}

.post-header {
    margin-bottom: $spacing-unit;
    padding: 30px 0;
    background: $page-header-background;
    border-top: 10px solid $page-header-border;
    margin-right: 0;

    .col-sm-3 {
        img {
            padding-bottom: 30px;
            width: 150px;
        }
    }

    .col-sm-9 {
        padding-left: 35px;
        @media(max-width: 768px) {
                text-align: center;
        }
    }
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content > h2,
.post-content > h3,
.post-content > ol,
.post-content > p,
.post-content > ul {
    width: 800px;
    float: right;
}
@media all and (max-width: 1200px) {
    .post-content > h2,
    .post-content > h3,
    .post-content > ol,
    .post-content > p,
    .post-content > ul {
        width: 600px;
    }
}
@media all and (max-width: 991px) {
    .post-content > h2,
    .post-content > h3,
    .post-content > ol,
    .post-content > p,
    .post-content > ul {
        width: 390px;
    }
}
@media all and (max-width: 768px) {
    .post-content > h2,
    .post-content > h3,
    .post-content > ol,
    .post-content > p,
    .post-content > ul {
        width: auto;
        float: none;
    }
}

.post-content {
    margin-bottom: $spacing-unit;
    font-weight: normal;
    margin-right: 20px;

    .left {
        float: left;
        width: auto;
    }

    ol,
    ul {
        margin-left: 0;
        padding-left: 15px;
    }
}
/* Language list */
.en:lang(en),
.es:lang(es),
.fr:lang(fr),
.pt:lang(pt) {
    font-weight: bold;
}

.post-languages {
    clear: both;
    padding-left: 10px;
    margin-left: 10px;
    border-left: 1px solid #666;
    @include media-query($on-laptop) {
        .add-translation,
        .language-list {
            text-align: center;
        }
    }

    a {
        font-weight: normal;
    }

    .form-control {
        width: auto;
        padding: 0;
    }
}

.right {
    float: right;
    margin-left: 14px;
}

.left {
    float: left;
    margin-right: 14px;
}

.center {
    text-align: center;
}

.grey-share {
    span {
        box-shadow: 0 0 5px 1px #ccc;
    }

    a {
        display: inline-block;
        height: 30px;
        width: 30px;
        opacity: 0;
    }

    .grey-twitter {
        background: url("/assets/img/twitter.png") no-repeat #999;
        background-size: 20px 20px;
        height: 35px;
        width: 35px;
        display: inline-block;
        border-radius: 17px;
        background-position: 8px 8px;
    }

    .grey-facebook {
        background: url("/assets/img/facebook.png") no-repeat #999;
        background-size: 20px 20px;
        height: 35px;
        width: 35px;
        display: inline-block;
        border-radius: 17px;
        background-position: 8px 8px;
    }
}

.share {
    position: absolute;
    margin-top: -70px;
    right: -40px;
    text-align: center;
    color: #FFF;
    font-weight: bold;

    p {
        display: block;
        opacity: 0.6;
        height: 40px;
        width: 48px;
        box-shadow: 1px 0 1px 1px #CCC;
        margin: 7px auto auto;
        border-radius: 6px;

        &:hover {
            opacity: 1;
            width: auto;
        }

        a {
            display: block;
            color: #FFF;
            padding-top: 8px;
            opacity: 0;
            transition: padding-left 0.5s, width 0.5s, opacity 0.2s ease-in;

            &:hover {
                text-decoration: none;
                width: auto;
                opacity: 1;
                padding-left: 50px;
                padding-right: 8px;
            }
        }
    }

    p.twitter {
        background: url("/assets/img/twitter.png") no-repeat #0c99d5;
        background-position: 8px 4px;
    }

    p.facebook {
        background: url("/assets/img/facebook.png") no-repeat #3B5998;
        background-position: 8px 4px;
    }
}

div.facebook {
    margin-top: -20px;
}

#back-top {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 2em;

    .glyphicon {
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    }
}

#leaderboard {
    display: inline-block;
}

#board {
    th:first-child {
        width: 500px;
    }
}

#loading {
    display: inline-block;
    margin-top: 10px;
    font-size: 1.1em;
    color: $brand-color;
}

.frontpage-slider {
    margin-left: 0;

    li {
        span {
            display: inline-block;
            width: auto;
            margin: auto;
            background: $brand-color;
            padding: 15px 20px;
            font-weight: 300;
            font-size: 1.5em;
            color: $text-color-light;

            a {
                color: $text-color-light;
            }
        }
    }
}

.bx-wrapper {
    .bx-prev {
        display: none;
    }

    .bx-next {
        display: none;
    }
}
// Bootstrap Overwrites
@include media-query($on-laptop) {
    .site-header {
        .navbar-collapse.collapse {
            display: none !important;

            &.in {
                display: block !important;
            }
        }

        .navbar-toggle {
            display: block;
        }

        .navbar-header {
            float: none;
        }
    }
}

table.sortable > thead th:hover:not([data-defaultsort="disabled"]) {
    background-color: $brand-color-light;
}

// Slider overwrites
.bx-wrapper {
  box-shadow: none;
  -webkit-box-shadow: none;
}
