/**
 * Site header
 */
.site-header {
    color: #fff;
    min-height: 40px;
    background: #3F4B73;
    height: 60px;

    // Positioning context for the mobile navigation icon
    position: relative;

    img.brand {
        max-width: 200px;
        margin-bottom: 10px;
        margin-right: 10px;
    }

    a.page-link,
    a.page-link:focus,
    a.page-link:active {
        color: white;
    }

    a.page-link:hover {
        color: #F8F273;
    }

    button.navbar-toggle {
        margin: 0px;
        font-size: 1.5em;
    }
}

.site-title {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;

    &, &:visited {
        color: #e29fa0;
    }
    &:hover {
        color: #fff;
        text-decoration: none;
    }
}

html[dir=ltr] .site-title {
    margin-right: 23px;
    float: left;
}

html[dir=rtl] .site-title {
    margin-left: 23px;
    float: right;
}

.page-link {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;

    &, &:visited {
        color: #e29fa0;
    }
    &:hover {
        color: #fff;
        text-decoration: none;
    }
}

html[dir=ltr] .page-link {
    margin-right: 20px;
    float: left;
}

html[dir=rtl] .page-link {
    margin-left: 20px;
    float: right;
}

.jumbotron {
    background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('/asserts/img/photo_top.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    border-radius: 0;

    h1 {
        color: white;
        display: block;
        margin: auto;
    }

    .lead {
        color: white;
        margin: auto;
        margin-bottom: 20px;
        margin-top: 20px;
        font-weight: 300;
    }
}

.cta {
    background-color: #19b3b7;
    margin-top: -48px;

    img {
        padding: 30px;
        max-width: 190px;
    }

    .lead {
        color: white;
        padding: 30px 30px 0 30px;
        font-size: 1.1em;
    }

    .btn {
        display: inline-block;
        margin: 0 30px 30px 30px;
    }
}

.index-notice {
    margin-bottom: 30px;
}


/**
 * Site footer
 */
 .home .site-footer {
     margin-top: -150px;
 }

.site-footer {
    color: #a6a7a9;
    background-color: #4d4f53;
    padding: 40px 0;
    font-size: 0.9em;
    line-height: 1.3;
    width: 100%;
    margin: 0;

    .icons {
        margin-bottom: 20px;
        text-align: center;

        .icon-container {
            display: inline-block;
            margin: 0 1.125rem;
            min-width: 120px;
            font-size: 1.1em;

            @include media-query($on-palm) {
                display: block;
                width: 100%;
            }

            .icon {
                .footer-icon {
                    max-width: 18px;
                    opacity: 0.5;

                    @include media-query($on-palm) {
                        display: block;
                        margin: 5px auto;
                        width: 20px;
                    }
                }

                @include media-query($on-palm) {
                    text-align: center;
                }
            }
        }
    }

    a {
        color: #a6a7a9;
        font-weight: normal;
    }

    a:hover {
        color: #ccc;
    }

    .footer-content {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        justify-content: center;
        max-width: 55rem;
        margin: 0 auto;

        a.logo {
            color: white;
            display: inline-block;
            margin-top: 0;
            padding-top: 0;
        }

        p {
            color: rgba(255, 255, 255, 0.5);
            width: calc(100% - 10.375rem);
        }

    }
}

html[dir=ltr] .site-footer {
    .icons {
        .icon-container {
            .icon {
                .footer-icon {
                    margin-right: 5px;
                }
            }
        }
    }
    .footer-content {
        a.logo {
            border-right: 0.0625rem solid #666;
            padding-right: 1.25rem;
            margin-right: 1.25rem;
        }
        p {
            text-align: left;
        }
    }
}

html[dir=rtl] .site-footer {
    .icons {
        .icon-container {
            .icon {
                .footer-icon {
                    margin-left: 5px;
                }
            }
        }
    }
    .footer-content {
        a.logo {
            border-left: 0.0625rem solid #666;
            padding-left: 1.25rem;
            margin-left: 1.25rem;
        }
        p {
            text-align: right;
        }
    }
}


/**
 * Page content
 */
.page-content {
    min-height: 100%;

    .wrapper {
        background: #FFF;
        margin: 0 auto;
        padding: 40px;
        display: block;
        box-shadow: 0 0 0 1px #fff inset;
    }

    h2 {
        margin-top: 20px;
    }

    table {
        border: 1px solid #ddd;
        width: 100%;
        max-width: 100%;
        border-spacing: 0;
        border-collapse: collapse;

        tbody > tr > td,
        tbody > tr > th,
        tfoot > tr > td,
        tfoot > tr > th,
        thead > tr > td,
        thead > tr > th {
            padding: 8px;
            line-height: 1.42857143;
            vertical-align: top;
            border: 1px solid #ddd;
        }

        thead {
            background-color: $brand-color;
            color: white;
        }
    }

    .p404 {
        font-size: 1.2em;
        margin-top: 40px;
    }

    .activity-img {
        max-width: 80px;
    }

    .activity {
        background-color: #eee;
        padding: 10px;
        border-radius: 10px;

        strong {
            display: block;
        }

        &.text-muted {
            strong::after {
                content: "retired";
                margin-top: -2px;
                background-color: #aaa;
                padding: .1em .5em;
                font-size: .75em;
                color: #fff;
                text-align: center;
                white-space: nowrap;
                vertical-align: baseline;
                border-radius: .25em;
            }

            a {
                opacity: 0.7;
            }
        }
    }

    .timebox {
        display: inline-block;
        padding: 10px 12px 10px 12px;
        background-size: 18px;
        background-repeat: no-repeat;
        width: auto;
        color: #3fb58e;
        background: #caf6e6;
    }

    .impactbox {
        padding: 10px;
    }

}

html[dir=ltr] .page-content {
    .activity {
        &.text-muted {
            strong::after {
                margin-left: 5px;
            }
        }
    }
    .timebox {
        margin: 0 0 0 270px;
        border-width: 0 0 0 2px;
        background-position: 8px center;
        float: left;
        border-left: solid 2px #3fb58e;
    }

    .impactbox {
        border-left: solid 2px #31708f;
    }

    @media all and (max-width: 991px) {
        .timebox {
            margin-left: 260px;
        }
    }

    @media all and (max-width: 768px) {
        .timebox {
            margin-left: 0;
        }
    }
}

html[dir=rtl] .page-content {
    .activity {
        &.text-muted {
            strong::after {
              content: "" !important;
            }
            strong::before {
                margin-right: 5px;
                content: "retired";
                margin-top: -2px;
                background-color: #aaa;
                padding: .1em .5em;
                font-size: .75em;
                color: #fff;
                text-align: center;
                white-space: nowrap;
                vertical-align: baseline;
                border-radius: .25em;
            }
        }
    }
    .timebox {
        margin: 0 270px 0 0;
        border-width: 0 2px 0 0;
        background-position: calc(100% - 8px) center;
        float: right;
        border-right: solid 2px #3fb58e;
    }

    .impactbox {
        border-right: solid 2px #31708f;
    }

    @media all and (max-width: 991px) {
        .timebox {
            margin-right: 260px;
        }
    }

    @media all and (max-width: 768px) {
        .timebox {
            margin-right: 0;
        }
    }
}

.page-heading, .home h1 {
    color: $brand-color;
    margin-top: 5px;
    font-size: 4.5rem;
    text-align: center;
}

.home {
    text-align: center;

    h2 {
        font-size: 2rem;
        text-align: center;
        margin: 1.5em auto;
        padding-top: 0em;
        clear: both;
    }

    .area {
        text-align: center;

        span.area-title {
            display: block;
            margin-bottom: 10px;
            font-weight: bold;
        }

        span.area-text {
            display: block;
            margin-bottom: 10px;
        }

        &.area-small {
            text-align: center;

            img {
                max-width: 100px;
            }
        }

        .home-img {
            max-width: 150px;
            margin-bottom: 10px;
        }

        .btn {
            clear: both;
            margin-top: 10px;
        }
    }

    .disabled {
        filter: grayscale(90%) opacity(25%);
        -webkit-filter: grayscale(90%) opacity(25%);
        font-weight: normal;
    }
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

.clear {
    clear: both;
    color: transparent;
    margin-bottom: 0;
}

.retired {
    padding: 15px;
    background-color: #f2dede;
}



/**
 * Posts
 */
.post {
    position: relative;
}

.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content > h2,
.post-content > h3,
.post-content > p,
.post-content > ul,
.post-content > ol {
    width: 800px;
}

html[dir=ltr] .post-content > h2,
html[dir=ltr] .post-content > h3,
html[dir=ltr] .post-content > p,
html[dir=ltr] .post-content > ul,
html[dir=ltr] .post-content > ol {
    float: right;
}

html[dir=rtl] .post-content > h2,
html[dir=rtl] .post-content > h3,
html[dir=rtl] .post-content > p,
html[dir=rtl] .post-content > ul,
html[dir=rtl] .post-content > ol {
    float: left;
}

.post-content > #markdown-toc {
    width: 230px;
    position: fixed;
    background-color: #3F4B73;
    color: #ccc;

    a {
        color: #eee;
    }
}

@media all and (max-width: 1200px) {
    .post-content > h2,
    .post-content > h3,
    .post-content > p,
    .post-content > ul,
    .post-content > ol {
        width: 600px;
    }
}

@media all and (max-width: 991px) {
    .post-content > h2,
    .post-content > h3,
    .post-content > p,
    .post-content > ul,
    .post-content > ol {
        width: 390px;
    }
}

@media all and (max-width: 768px) {
    .post-content > h2,
    .post-content > h3,
    .post-content > p,
    .post-content > ul,
    .post-content > ol {
        width: auto;
        float: none;
    }
    .post-content > #markdown-toc {
        display: none;
    }
}

.post-content {
    margin-bottom: $spacing-unit;
    font-weight: normal;

    .left {
        width: auto;
    }
}

html[dir=ltr] .post-content {
    margin-right: 20px;
    .left {
        float: left;
    }
    ul, ol {
        margin-left: 0;
        padding-left: 15px;
    }
}

html[dir=rtl] .post-content {
    margin-left: 20px;
    .left {
        float: right;
    }
    ul, ol {
        margin-right: 0;
        padding-right: 15px;
    }
}

/* Language list */
.en:lang(en), .es:lang(es), .pt:lang(pt), .fr:lang(fr) {
    font-weight: bold;
}


.post-languages {
    clear: both;

    @include media-query($on-laptop) {
        .language-list,
        .add-translation {
            text-align: center;
        }
    }

    a {
        font-weight: normal;
    }

    .form-control {
        width: auto;
        padding: 0;
    }
}

html[dir=ltr] .post-languages {
    padding-left: 10px;
    margin-left: 10px;
    border-left: 1px solid #666;
}

html[dir=rtl] .post-languages {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid #666;
}

html[dir=ltr] .right {
    float: right;
    margin-left: 14px;
}

html[dir=rtl] .right {
    float: left;
    margin-right: 14px;
}

html[dir=ltr] .left {
    float: left;
    margin-right: 14px;
}

html[dir=rtl] .left {
    float: right;
    margin-left: 14px;
}

.center {
    text-align: center;
}

.share {
    position: absolute;
    margin-top: -70px;
    text-align: center;
    color: #FFF;
    font-weight: bold;

    p {
        display: block;
        opacity: 0.6;
        height: 40px;
        width: 48px;
        box-shadow: 1px 0px 1px 1px #CCC;
        margin: auto;
        margin-top: 7px;
        border-radius: 6px;

        &:hover {
            opacity: 1;
            width: auto;
        }

        a {
            display: block;
            color: #FFF;
            padding-top: 8px;
            opacity: 0;

            &:hover {
                text-decoration: none;
                width: auto;
                opacity: 1;
            }
        }
    }
    p.twitter {
        background: url("/asserts/img/twitter.png") no-repeat #0c99d5;
        background-position: 8px 4px;
    }

    p.facebook {
        background: url("/asserts/img/facebook.png") no-repeat #3B5998;
        background-position: 8px 4px;
    }
}

html[dir=ltr] .share {
  right: -40px;
  p {
    a {
        transition: padding-left .5s, width .5s, opacity .2s ease-in;

        &:hover {
            padding-left: 50px;
            padding-right: 8px;
        }
    }
  }
}

html[dir=rtl] .share {
  left: -40px;
  p {
    a {
        transition: padding-right .5s, width .5s, opacity .2s ease-in;

        &:hover {
            padding-left: 8px;
            padding-right: 50px;
        }
    }
  }
}


div.facebook {
    margin-top: -20px;
}

#markdown-toc {
    background: #f4f7f8;
    display: table;
    background-color: #3F4B73;
    color: #ccc;
    z-index: 99;

    a {
        color: #eee;
        font-weight: normal;
    }
}

html[dir=ltr] #markdown-toc {
    padding: 15px 20px 15px 35px;
    margin-left: 0px;
    border-left: solid 2px #acb0bd;
}

html[dir=rtl] #markdown-toc {
    padding: 15px 35px 15px 20px;
    margin-right: 0px;
    border-right: solid 2px #acb0bd;
}

#back-top {
    display: none;
    position: fixed;
    bottom: 30px;
    font-size: 2em;

    .glyphicon {
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    }
}

html[dir=ltr] #back-top {
    right: 30px;
}

html[dir=rtl] #back-top {
    left: 30px;
}

#tabzilla {
    position:relative;
}

html[dir=ltr] #tabzilla {
    float: right;
}

html[dir=rtl] #tabzilla {
    float: left;
}

#tabzilla a {
    position:relative;
    display:block;
    width:147px;
    height:37px;
    text-indent:120%;
    white-space:nowrap;
    overflow:hidden;
    background-image:url(https://www.mozilla.org/media/img/tabzilla/tabzilla-static.png);
    background-repeat:no-repeat;
    z-index:2
}
@media(-webkit-min-device-pixel-ratio:1.5),(min--moz-device-pixel-ratio:1.5),(-o-min-device-pixel-ratio:3/2),(min-resolution:1.5dppx) {
    #tabzilla a {
        background-image:url(https://www.mozilla.org/media/img/tabzilla/tabzilla-static-high-res.png);
        -webkit-background-size:147px 37px;
        background-size:147px 37px
    }
}
#tabzilla:before {
    position:absolute;
    display:block;
    top:0;
    width:88px;
    height:26px;
    content:'';
    background-color:transparent;
    z-index:1
}

html[dir=ltr] #tabzilla:before {
    left: 28px;
}

html[dir=rtl] #tabzilla:before {
    right: 28px;
}

#leaderboard {
    display: inline-block;
}

#board {
    th:first-child {
        width: 500px;
    }
}

#loading {
    display: inline-block;
    margin-top: 10px;
    font-size: 1.1em;
    color: $brand-color;
}
