<form id="input-form" action="" method="POST" target="no-target">
  <div class="form-group required">
    <label class="control-label">Jenis acara manakah yang kamu ikuti?</label>
    <div class="radio">
      <label>
        <input type="radio" name="q1" value="Rust" required>
        Rust
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="q1" value="Web Compat">
        Web Compat
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="q1" value="WebExtension">
        WebExtension
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="q1" value="Host a Tech Speaker">
        Host a Tech Speaker
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="q1" value="Web VR">
        Web VR
      </label>
    </div>
  </div>
  <div class="form-group required">
    <label class="control-label">Siapa MozRep yang mengadakan acara ini?</label>
    <select class="form-control" id="input-q2" name="q2" required></select>
  </div>
  <div class="form-group required">
    <label class="control-label">Kapan acara tersebut diadakan?</label>
    <input class="form-control" id="date" name="date" data-toggle="datepicker" data-date-format="mm/dd/yyyy" required>
  </div>
  <div class="form-group required">
    <label class="control-label">Seberapa cenderungkah kamu merekomendasikan acara ini pada teman atau rekan lain?</label>
    <div>
      <label class="radio-inline">
        Tidak sama sekali
      </label>
      <label class="radio-inline">
        <input type="radio" name="q4" value="1" required> 1
      </label>
      <label class="radio-inline">
        <input type="radio" name="q4" value="2"> 2
      </label>
      <label class="radio-inline">
        <input type="radio" name="q4" value="3"> 3
      </label>
      <label class="radio-inline">
        <input type="radio" name="q4" value="4"> 4
      </label>
      <label class="radio-inline">
        <input type="radio" name="q4" value="5"> 5
      </label>
      <label class="radio-inline">
        <input type="radio" name="q4" value="6"> 6
      </label>
      <label class="radio-inline">
        <input type="radio" name="q4" value="7"> 7
      </label>
      <label class="radio-inline">
        Sangat cenderung
      </label>
    </div>
  </div>
  <div class="form-group required">
    <label class="control-label">Nama kamu</label>
    <input type="text" class="form-control" id="input-q5" name="q5" placeholder="Name" required>
  </div>
  <div class="form-group required">
    <label class="control-label">Alamat surel (mohon masukan surel yang kamu gunakan pada akun github yang kamu punya)</label>
    <input type="email" class="form-control" id="input-q6" name="q6" placeholder="Email" required>
  </div>
  <div class="form-group required">
    <label class="control-label">Apa profesimu?</label>
    <div class="radio">
      <label>
        <input type="radio" name="q7" value="Web developer">
        Pengembang Web
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="q7" value="Programmer" required>
        Programmer
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="q7" value="Student - Computer Science">
        Mahasiswa - Teknologi Informasi
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="q7" value="Other"> Lainnya
        <input type="text" class="form-control" id="input-q7" name="q7o" placeholder="Tolong sebutkan">
      </label>
    </div>
  </div>
  <button id="form-submit" type="submit" class="btn btn-default">Kirim</button>
</form>

<div id="input-feedback" class="center">
  <h2>Terima kasih!</h2>
  <p>Jawaban kamu sudah direkam.</p>
</div>

<iframe src="#" id="no-target" name="no-target" style="visibility:hidden"></iframe>
