<form id="input-form" action="" method="POST" target="no-target">
  <div class="form-group required">
    <label class="control-label">Jenis acara manakah yang kamu ikuti?</label>
    <div class="radio">
      <label>
        <input type="radio" name="q1" value="Rust" required>
        Rust
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="q1" value="Web Compat">
        Web Compat
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="q1" value="WebExtension">
        WebExtension
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="q1" value="Host a Tech Speaker">
        Host a Tech Speaker
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="q1" value="Web VR">
        Web VR
      </label>
    </div>
  </div>
  <div class="form-group required">
    <label class="control-label">Siapa MozRep yang mengadakan acara ini?</label>
    <select class="form-control" id="input-q2" name="q2" required>
      <option>Abbackar DIOMANDE</option>
      <option>Abdelrahman Manna</option>
      <option>Abdelrahman Samy</option>
      <option>Abhilash A</option>
      <option>Abhiram Ravikumar</option>
      <option>Abin Abraham</option>
      <option>Achraf Fouwad</option>
      <option>Achyuth K P</option>
      <option>Adriano Cupello</option>
      <option>Ahmad Gharaibeh</option>
      <option>Ahmad Ziad</option>
      <option>Ahmed Nefzaoui</option>
      <option>Ajay Kumar</option>
      <option>Ajay Kumar Jogawath</option>
      <option>Aka Brou Yannick N</option>
      <option>Ake Nygren</option>
      <option>Akshay Tiwari</option>
      <option>Akshit Sharma</option>
      <option>Alejandro Gomez</option>
      <option>Alex Lakatos</option>
      <option>Alex Mayorga</option>
      <option>Alex Wafula</option>
      <option>Alexandre Lissy</option>
      <option>Alfredos Panagiotis Damkalis</option>
      <option>Alifiyah Ganijee</option>
      <option>Aman Sehgal</option>
      <option>Amine Zaafouri</option>
      <option>Amit Kumar Jaiswal</option>
      <option>Amod Narvekar</option>
      <option>Ana Sofia Lopez Sanchez</option>
      <option>Andi Darmawan</option>
      <option>Andre Garzia</option>
      <option>Andrzej Mazur</option>
      <option>Aniket Deshpande</option>
      <option>Anivar Aravind</option>
      <option>Ankit Bahuguna</option>
      <option>Ankit Gadgil</option>
      <option>Ankit Mehta</option>
      <option>Anup Kumar Mishra</option>
      <option>Anush A</option>
      <option>April Morone</option>
      <option>Ardian Haxha</option>
      <option>Areej Amer</option>
      <option>Arief Bayu Purwanto</option>
      <option>Arif Fahmi Fisal</option>
      <option>arky r</option>
      <option>Arturo Martinez</option>
      <option>Asa Lugada</option>
      <option>Ashickur Rahman</option>
      <option>Ashish Mishra</option>
      <option>Asma Islam Swapna</option>
      <option>Asma Saidi</option>
      <option>Atique Ahmed Ziad</option>
      <option>Avash Mulmi</option>
      <option>Avik Pal</option>
      <option>Avinash Kundaliya</option>
      <option>Axel Viala</option>
      <option>Ayan Choudhury</option>
      <option>Az Anitah</option>
      <option>Bacely YoroBi</option>
      <option>Bala Subramaniyan</option>
      <option>Bartosz Piec</option>
      <option>Behling Mario</option>
      <option>Belayet Hossain</option>
      <option>Ben Ali Chahreddine</option>
      <option>Benjamin Kerensa</option>
      <option>Benoit Leseul</option>
      <option>Binoy Balu</option>
      <option>Biraj Karmakar</option>
      <option>Bolaram Paul</option>
      <option>Brian King</option>
      <option>Brice TOUKPO</option>
      <option>Carlos Valim</option>
      <option>Chandan Kumar Baba</option>
      <option>Christophe Villeneuve</option>
      <option>Christos Bacharakis</option>
      <option>Clauber Stipkovic</option>
      <option>Cliff Argwings</option>
      <option>Cristian Silaghi</option>
      <option>Cynthia Pereira</option>
      <option>Cynthia Zanoni</option>
      <option>Daniele Scasciafratte</option>
      <option>Dany Javier Bautista</option>
      <option>Dave Villacreses</option>
      <option>David Gonzalez Blanchard</option>
      <option>David Ruiz</option>
      <option>David Weir</option>
      <option>Deepak Upendra</option>
      <option>Dennis Ndegwa</option>
      <option>Derzanic Gasper</option>
      <option>Dethe Elza</option>
      <option>Dian Ina Mahendra</option>
      <option>Dinesh Mv</option>
      <option>Dipesh Monga</option>
      <option>Diwanshi Pandey</option>
      <option>Dorothee Danedjo Fouba</option>
      <option>Dron Rathore</option>
      <option>Dyvik Chenna Thirunahari</option>
      <option>Ednah Kiome</option>
      <option>Eduardo Enrique Gomez Valencia</option>
      <option>Eduardo Urcullu Madrid</option>
      <option>Elio Qoshi</option>
      <option>Emin Mastizada</option>
      <option>Emma Irwin</option>
      <option>Erick Leon Bolinaga</option>
      <option>Erika Aurea Gatmaitan</option>
      <option>Ernest Chiang</option>
      <option>Eslam Mahmoud</option>
      <option>Faisal Aziz</option>
      <option>Fate Jane Cabag</option>
      <option>Faten Ben Thabet</option>
      <option>Fauzan Alfi Agirachman</option>
      <option>Fauzia Ismail</option>
      <option>Faye Tandog</option>
      <option>Flore Allemandou</option>
      <option>Florian Merz</option>
      <option>Forhad Hossain</option>
      <option>Francisco Picolini</option>
      <option>Frederick Villaluna</option>
      <option>Gabriel Ivanica</option>
      <option>Gabriela Montagu</option>
      <option>Galaxy Kadiyala</option>
      <option>Gaurab Patra</option>
      <option>Gautam Sharma</option>
      <option>Gauthamraj Elango</option>
      <option>George Murage</option>
      <option>Geraldo Barros</option>
      <option>Giannis Konstantinidis</option>
      <option>Giovanny Gongora</option>
      <option>Goce Mitevski</option>
      <option>Gonzalez Johan</option>
      <option>Guillaume Dauvin</option>
      <option>Hamza Hammad</option>
      <option>Harsha Bandaru</option>
      <option>Harsha Vardhan</option>
      <option>Helen Lee</option>
      <option>Henrik Mitsch</option>
      <option>Hossain Al Ikram</option>
      <option>Hrant Ohanyan</option>
      <option>Hugo Acosta</option>
      <option>I Gede Bagus Kosha</option>
      <option>Ibel Alexander Zuniga</option>
      <option>Idriss TINTO</option>
      <option>Irayani Queencyputri</option>
      <option>Irvin Chen</option>
      <option>Istiaque Ahamed</option>
      <option>Iurii Klekovkin</option>
      <option>Ivan Zeledon</option>
      <option>Jafar Muhammed</option>
      <option>Jaipradeesh Janarthanan</option>
      <option>jairo ruiz</option>
      <option>Jamie Charlton</option>
      <option>Jayesh Katta Ramalingaiah</option>
      <option>Jeff Beatty</option>
      <option>Jefferson Duran</option>
      <option>Jignesh Kakadiya</option>
      <option>Joell Lapitan</option>
      <option>John Amba</option>
      <option>Jonathan Lamim</option>
      <option>Jorge Villalobos</option>
      <option>Jose Junior Villagomez Melgar</option>
      <option>Joshua Rubin</option>
      <option>Juan Antonio Aguilera Tamayo</option>
      <option>Jusai Prieto</option>
      <option>Kailas PATIL</option>
      <option>Kalman Szalai</option>
      <option>Karoczkai Krisztian</option>
      <option>Kaustav Das Modak</option>
      <option>kelvin murerwa</option>
      <option>Kemuel Joseph Domanog</option>
      <option>Kevin John Ventura</option>
      <option>Khaleel Jageer</option>
      <option>Khan Mahay</option>
      <option>Konstantina Papadea</option>
      <option>Kristi Progri</option>
      <option>Kumar Rishav</option>
      <option>Kumaresan C  S</option>
      <option>KUSHAGRA VARADE</option>
      <option>Larissa Shapiro</option>
      <option>Lavish Aggarwal</option>
      <option>Lawrence Kisuuki</option>
      <option>Lebron Brian Ssekalegga</option>
      <option>Lenno Azevedo</option>
      <option>Liza Duron</option>
      <option>Lizarazo Camilo</option>
      <option>Logan Rosen</option>
      <option>Lourdes Castillo</option>
      <option>Luigi Tedone</option>
      <option>Luis A Sanchez</option>
      <option>Luis Richard Dominguez</option>
      <option>Luna Jernberg</option>
      <option>Lyre Calliope</option>
      <option>M'man Ange Manuela KOUADIO</option>
      <option>Mahendra Shrivas</option>
      <option>Maheshwari Kritika</option>
      <option>Mahir Labib Chowdhury</option>
      <option>Mahmood Qudah</option>
      <option>Majken Connor</option>
      <option>manaf ghraybeh</option>
      <option>Manel Rhaiem</option>
      <option>Maniraj Thripuradhi</option>
      <option>Manuel Camacho</option>
      <option>Marcia Knous</option>
      <option>Marcus Ang</option>
      <option>Marios Isaakidis</option>
      <option>Mariot Tsitoara</option>
      <option>Mark Nasr</option>
      <option>Mashkawat Ahsan</option>
      <option>Matjaz Horvat</option>
      <option>Mauricio Navarro Miranda</option>
      <option>Mayur Patil</option>
      <option>Md Anisur Rahman</option>
      <option>Md Shahbaz Alam</option>
      <option>Meghraj Suthar</option>
      <option>Mehul Patel</option>
      <option>Melek Jebnoun</option>
      <option>Michael Kohler</option>
      <option>Michal Stanke</option>
      <option>Micheal Abaho</option>
      <option>Mijanur Rahman Rayhan</option>
      <option>Mohab Safwat</option>
      <option>Mohamed Hafez</option>
      <option>Mohamed Manai</option>
      <option>Mohammad Saleh</option>
      <option>Mohammad Yaseen Khan</option>
      <option>Mohammed Migdadi</option>
      <option>Monica Bonilla</option>
      <option>Mouhamadou Moustapha CAMARA</option>
      <option>Mrinal Jain</option>
      <option>Mubiru Jonathan</option>
      <option>Muhammad Fadhil</option>
      <option>Muhammad Hasan Ahmed</option>
      <option>Nidhiya V Raj</option>
      <option>Nikos Roussos</option>
      <option>Nino Vranesic</option>
      <option>Njungle nges Brian</option>
      <option>Nootan Ghimire</option>
      <option>Noureddine Bellounis</option>
      <option>Oarabile Mudongo</option>
      <option>Ochieng John Baptist</option>
      <option>Odin Mojica</option>
      <option>Oliveira Joao</option>
      <option>Omshivaprakash H L</option>
      <option>Orin Chen</option>
      <option>Osho Parth</option>
      <option>Peter Chen</option>
      <option>Petras Slekys</option>
      <option>Pierros Papadeas</option>
      <option>Po Chiang Chao</option>
      <option>Prathamesh Chavan</option>
      <option>Priyank Agarwal</option>
      <option>Priyanka Nag</option>
      <option>Quentin Fremeaux</option>
      <option>Quentin Lamamy</option>
      <option>Radhakrishna Pemmasani</option>
      <option>Rahul Talreja</option>
      <option>Raj Nilayam</option>
      <option>Rajesh Ranjan</option>
      <option>Ram Dayal Vaishnav</option>
      <option>Rami Khader</option>
      <option>Rashik Ishrak Nahian</option>
      <option>Ravi kumbhkar</option>
      <option>Redon Skikuli</option>
      <option>Regnard Raquedan</option>
      <option>Ricardo Pontes</option>
      <option>Richard Armuelles Zeballos</option>
      <option>Rigin Oommen</option>
      <option>Rishita Bansal</option>
      <option>Rishu Goenka</option>
      <option>Rizki D Kelimutu</option>
      <option>Rizky Ariestiyansyah</option>
      <option>Rizqinofa Putra Muliawan</option>
      <option>Robert Kaiser</option>
      <option>Robert Reyes</option>
      <option>Robert Sayles</option>
      <option>Roberto Corrales</option>
      <option>Rocio Soledad Meza Arce</option>
      <option>Rodrigo Perez</option>
      <option>Rodrigo Silva</option>
      <option>Rosana Ardila</option>
      <option>Ruben Guerra Marin</option>
      <option>Ruben Martin</option>
      <option>Ruwan Ranganath</option>
      <option>Ryan Ermita</option>
      <option>Saikiran Chandha</option>
      <option>Salman Rahman Desh</option>
      <option>Sammy Fung</option>
      <option>San Emmanuel James</option>
      <option>Sandeep Kapalawai</option>
      <option>Sandraghassen Subbaraya Pillai</option>
      <option>Sandtner Carsten</option>
      <option>Santosh Viswanatham</option>
      <option>Sanyam Khurana</option>
      <option>Sara Khan</option>
      <option>Sasa Jakovljevic</option>
      <option>Saurabh Shah</option>
      <option>Sayak Sarkar</option>
      <option>Sean Collins</option>
      <option>Sebastien Desvignes</option>
      <option>Shafique Patni</option>
      <option>Shagufta Methwani</option>
      <option>Shahid Ali Farooqui</option>
      <option>Shehnaz Abubakar</option>
      <option>Shinta Setiawan</option>
      <option>Shreyas Narayanan Kutty</option>
      <option>Shubham Geete</option>
      <option>Siddhartha Rao</option>
      <option>Sidki KBOUBI</option>
      <option>Srijib Roy</option>
      <option>Srushtika Neelakantam</option>
      <option>Stefan Costen</option>
      <option>Stefania Ioana Chiorean</option>
      <option>Stephen Murphy</option>
      <option>Stephen Wanjau</option>
      <option>Strugariu Florin</option>
      <option>Subhashish Panigrahi</option>
      <option>Sudheesh Singanamalla</option>
      <option>Sumanth Damarla</option>
      <option>Sumantro Mukherjee</option>
      <option>Surit Aryal</option>
      <option>Swarnava Sengupta</option>
      <option>Syed Omar Faruk Towaha</option>
      <option>Szmozsanszky Istvan</option>
      <option>Tanha Islam</option>
      <option>Tano Kan Man Hui Chris Brian</option>
      <option>Tayo Fagbohun</option>
      <option>Teo Zyczkowski</option>
      <option>Theo Chevalier</option>
      <option>Thiago Policena</option>
      <option>Tim Maks van den Broek</option>
      <option>Tina Verbo</option>
      <option>Tomer Cohen</option>
      <option>Trishul Goel</option>
      <option>Tshepo Tamajobe</option>
      <option>U M K Dikshit</option>
      <option>Umesh Agarwal</option>
      <option>Vaibhav Bajaj</option>
      <option>Valentin Gosu</option>
      <option>Vannak Eng</option>
      <option>Varun Kaushik</option>
      <option>Vibhanshu Chaudhary</option>
      <option>Victor Karanja</option>
      <option>Vigneshwer Dhinakaran</option>
      <option>Viola Edoardo</option>
      <option>Viorela Ioia</option>
      <option>Vishal Chavan</option>
      <option>Vishnu Teja Yalakuntla</option>
      <option>Viswaprasath KS</option>
      <option>Vnisha Srivastav</option>
      <option>Walid Amriou</option>
      <option>Wichai Termwuttipreecha</option>
      <option>William Quiviger</option>
      <option>Wim Benes</option>
      <option>Wissam Alazzam</option>
      <option>Xing Liu</option>
      <option>Yacine Bourras</option>
      <option>Yofie Setiawan</option>
      <option>Yonggang Zhang</option>
      <option>Yousef Alam</option>
      <option>Yuliana R Jimenez</option>
      <option>Yunier Sosa Vazquez</option>
      <option>Zaid Ibhais</option>
      <option>Ziggy Maes</option>
    </select>
  </div>
  <div class="form-group required">
    <label class="control-label">Kapan acara tersebut diadakan?</label>
    <input class="form-control" id="date" name="date" data-toggle="datepicker" data-date-format="mm/dd/yyyy" required>
  </div>
  <div class="form-group required">
    <label class="control-label">Seberapa cenderungkah kamu merekomendasikan acara ini pada teman atau rekan lain?</label>
    <div>
      <label class="radio-inline">
        Tidak sama sekali
      </label>
      <label class="radio-inline">
        <input type="radio" name="q4" value="1" required> 1
      </label>
      <label class="radio-inline">
        <input type="radio" name="q4" value="2"> 2
      </label>
      <label class="radio-inline">
        <input type="radio" name="q4" value="3"> 3
      </label>
      <label class="radio-inline">
        <input type="radio" name="q4" value="4"> 4
      </label>
      <label class="radio-inline">
        <input type="radio" name="q4" value="5"> 5
      </label>
      <label class="radio-inline">
        <input type="radio" name="q4" value="6"> 6
      </label>
      <label class="radio-inline">
        <input type="radio" name="q4" value="7"> 7
      </label>
      <label class="radio-inline">
        Sangat cenderung
      </label>
    </div>
  </div>
  <div class="form-group required">
    <label class="control-label">Nama kamu</label>
    <input type="text" class="form-control" id="input-q5" name="q5" placeholder="Name" required>
  </div>
  <div class="form-group required">
    <label class="control-label">Alamat surel (mohon masukan surel yang kamu gunakan pada akun github yang kamu punya)</label>
    <input type="email" class="form-control" id="input-q6" name="q6" placeholder="Email" required>
  </div>
  <div class="form-group required">
    <label class="control-label">Apa profesimu?</label>
    <div class="radio">
      <label>
        <input type="radio" name="q7" value="Web developer">
        Pengembang Web
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="q7" value="Programmer" required>
        Programmer
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="q7" value="Student - Computer Science">
        Mahasiswa - Teknologi Informasi
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="q7" value="Other"> Lainnya
        <input type="text" class="form-control" id="input-q7" name="q7o" placeholder="Please specify">
      </label>
    </div>
  </div>
  <button id="form-submit" type="submit" class="btn btn-default">Kirim</button>
</form>

<div id="input-feedback" class="center"> 
  <h2>Terima kasih!</h2>
  <p>Jawaban kamu sudah direkam.</p>
</div>

<iframe src="#" id="no-target" name="no-target" style="visibility:hidden"></iframe>