.activity-card {
  text-align: left;
  border: 1px solid var(--grey-color-light);
  border-bottom: 3px solid var(--grey-color);
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  margin-top: 0;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
  max-width: 336px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 57px;
}

@media only screen and (min-width : 576px) {
  .activity-card {
    padding-bottom: 37px;
  }
}

.activity-card a {
  color: inherit;
}

.activity-card a p {
  font-weight: 400;
}

.activity-card header {
  margin-right: -20px;
  margin-left: -20px;
}

@media only screen and (min-width : 576px) {
  .activity-card header {
    display: flex;
    justify-content: center;
  }
}

.activity-card header img {
  border-radius: 4px 4px 0 0;
}

.activity-card .activity-card__title {
  text-align: left;
  margin-top: 2.5rem;
  margin-bottom: 1.9rem;
}

.activity-card__content {
  text-align: justify;
  padding-bottom: calc(var(--base-font-size) * 1.55);
}
.activity-card__content p:last-child {
  margin-bottom: 0;
}

.activity-card__tags,
.activity-card__duration{
  display: flex;
  align-items: center;
  padding-right: 9px;
}

.activity-card__icon {
  margin-right: 3px;
}

.activity-card footer {
  position: absolute;
  bottom: 11px;
  left: 20px;
  width: calc(100% - 40px);
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0 0 0 0;
  background-color: transparent;
}

.activity-card--programming {
  border-bottom: 3px solid var(--indigo-blue-color);
}
.activity-card--programming footer {
  color: var(--indigo-blue-color);
}

.activity-card--programming footer .activity-card__tags-icon {
  fill: var(--indigo-blue-color);
}

.activity-card--programming footer .activity-card__duration-icon {
  fill: var(--indigo-blue-color);
}

.activity-card--testing {
  border-bottom: 3px solid var(--pumpkin-orange-color);
}
.activity-card--testing footer {
  color: var(--pumpkin-orange-color);
}

.activity-card--testing footer .activity-card__tags-icon {
  fill: var(--pumpkin-orange-color);
}

.activity-card--testing footer .activity-card__duration-icon {
  fill: var(--pumpkin-orange-color);
}

.activity-card--participation {
  border-bottom: 3px solid var(--purple-color);
}

.activity-card--participation footer {
  color: var(--purple-color);
}

.activity-card--participation footer .activity-card__tags-icon {
  fill: var(--purple-color);
}

.activity-card--participation footer .activity-card__duration-icon {
  fill: var(--purple-color);
}

