.activity-page {
  padding: 60px 0;
  font-size: var(--small-font-size);
  color: var(--slate-grey-color);
}

.activity-page__content-top a {
  color: var(--dark-blue-grey-color);
}

.activity-page__content-top a:hover,
.activity-page__content-top a:focus {
  color: var(--orange-color);
}

.activity-page__title {
  margin-top: -8px;
}

.activity-page table {
  margin: calc(var(--spacing-unit)) 0;
}

/*
  Change color based on Activity type.
*/
.activity--programming .sidebar__header .sidebar__title,
.activity--programming .sidebar__header .sidebar__icon {
  color: var(--indigo-blue-color);
}

.activity--testing .sidebar__header .sidebar__title,
.activity--testing .sidebar__header .sidebar__icon {
  color: var(--pumpkin-orange-color);
}

.activity-participation .sidebar__header .sidebar__title,
.activity-participation .sidebar__header .sidebar__icon {
  color: var(--purple-color);
}
