.activity-page {
  padding: 150px 0 60px;
  font-size: var(--small-font-size);
  color: var(--slate-grey-color);
}

.activity-page__content-top a {
  color: var(--dark-blue-grey-color);
}

.activity-page__content-top a:hover,
.activity-page__content-top a:focus {
  color: var(--orange-color);
}

.activity-page__title {
  margin-top: -8px;
}

.activity-page table {
  margin: calc(var(--spacing-unit)) 0;
}

/*
  Change color based on Activity type.
*/
.activity--programming .sidebar__title,
.activity--programming .sidebar__icon {
  color: var(--indigo-blue-color);
}

.activity--programming .sidebar {
  border-bottom: 3px solid var(--indigo-blue-color);
}


.activity--testing .sidebar__title,
.activity--testing .sidebar__icon {
  color: var(--pumpkin-orange-color);
}

.activity--testing .sidebar {
  border-bottom: 3px solid var(--pumpkin-orange-color);
}


.activity-participation .sidebar__title,
.activity-participation .sidebar__icon {
  color: var(--purple-color);
}

.activity-participation .sidebar {
  border-bottom: 3px solid var(--purple-color);
}

.activity--contribution .sidebar__title,
.activity--contribution .sidebar__icon {
  color: var(--green-color);
}

.activity--contribution .sidebar {
  border-bottom: 3px solid var(--green-color);
}
