footer {
  color: var(--text-color-light);
  background-color: #161616;
  width: 100%;
  clear: both;
  padding: 65px 0 10px 0;
}

.footer-nav {
  color: white;
}

.footer-nav__title {
  font-weight: 700;
  padding-bottom: 5px;
}

.footer-nav__menu {
  margin: 0;
}

.footer-nav__menu > li > a {
  color: white;
  font-weight: 400;
  padding: 5px 0;
}

.footer-nav__menu > li > a:hover,
.footer-nav__menu > li > a:focus {
  color: var(--grey-color-medium);
  background-color: transparent;
}

.footer-nav__menu .is-active a{
  color: white;
}

.footer__attributions,
.footer__attributions p,
.footer__attributions a{
  font-weight: 700;
  font-size: 12px;
}

.footer__content {
 text-align: center;
}


.footer__attributions a{
  color: white;
  text-decoration: underline;
  font-weight: 700;
}