footer {
  color: var(--text-color-light);
  background-color: #161616;
  width: 100%;
  clear: both;
  padding: 65px 0 20px 0;
}

.footer__logo {
  max-width: 120px;
}
@media only screen and (min-width : 992px) {
  .footer__logo {
    max-width: 190px;
  }
}

.footer-nav {
  color: white;
}

.footer-nav__title {
  font-weight: 700;
  padding-bottom: 5px;
}

.footer-nav__menu {
  margin: 0;
}

.footer-nav__menu > li > a {
  color: white;
  font-weight: 400;
  padding: 5px 0;
  display: inline-block;
}

.footer-nav__menu > li > a:hover,
.footer-nav__menu > li > a:focus {
  color: var(--grey-color-medium);
  background-color: transparent;
}

.footer-nav__menu .is-active a{
  color: white;
}
.footer__attributions {
  border-top: 1px solid #38383D;
  padding-top: 35px;
  margin-top: 55px;
}

.footer__attributions,
.footer__attributions p,
.footer__attributions a{
  font-weight: 700;
  font-size: 12px;
}

.footer__content {
 text-align: center;
 margin-bottom: 40px;
}

.footer__attributions a{
  color: white;
  text-decoration: underline;
  font-weight: 700;
}

.footer__attributions a:hover,
.footer__attributions a:focus {
  color: var(--grey-color-medium);
}

.footer__terms {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__terms li {
  display: inline;
  padding-right: 25px;
}