footer {
  color: var(--text-color-light);
  background-color: #161616;
  padding: 40px 0;
  font-size: 0.9em;
  line-height: 1.3;
  width: 100%;
  margin: 0;
  padding: 2rem 0;
}

footer .icons {
  margin-bottom: 20px;
  text-align: center;
}

footer .icon-container {
  display: inline-block;
  margin: 0 1.125rem;
  min-width: 120px;
  font-size: 1.1em;
}

footer a {
  color: var(--text-color-light);
  font-weight: normal;
}

footer a:hover {
  color: #ccc;
}

.footer-content {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  max-width: 55rem;
  margin: 0 auto;
}

.footer-content a.logo {
  color: white;
  display: inline-block;
  border-right: 1px solid #666;
  padding-right: 1.25rem;
  margin-right: 1.25rem;
  margin-top: 0;
  padding-top: 0;
}

.footer-content p {
  text-align: left;
  width: calc(100% - 10.375rem);
  margin-bottom: 0;
}

.languages {
  clear: both;
  padding-left: 1.25rem;
  margin-left: 1.25rem;
  border-left: 1px solid #666;
}

.languages .form-control {
  width: auto;
  padding: 0;
}

@media all and (min-width: 767px) {
  footer .icon .footer-icon {
    max-width: 18px;
    margin-right: 5px;
  }
}

@media all and (max-width: 767px) {
  footer .icon-container {
    display: block;
    width: 100%;
    margin: 0;
  }

  footer .icons {
    margin-bottom: 40px;
  }

  footer .icon {
    text-align: center;
  }

  footer .footer-icon {
    display: block;
    margin: 5px auto;
    width: 20px;
  }

  footer .footer-content {
    display: inline-block;
    text-align: center;
    max-width: initial;
  }

  .footer-content a.logo {
    border-bottom: 1px solid #666;
    padding-bottom: 1.25rem;
    border-right: none;
    padding-right: 0;
    margin-right: 0;
  }

  .footer-content p {
    width: inherit;
    margin: 15px;
    text-align: center;
  }
  
  .languages {
    padding-top: 1.25rem;
    border-top: 1px solid #666;
    margin-left: 0;
    padding-left: 0;
    border-left: none;
    width: 25%;
    margin: 0 auto;
    text-align: center;
  }

  footer .form-control {
    display: initial;
  }
}