.navbar-default {
  min-height: 75px;
  background-color: var(--dark-blue-grey-color);
  background-image: linear-gradient(261deg, var(--indigo-blue-color), var(--dark-blue-grey-color));
}

img.logo {
  max-width: 157px;
}

.navbar {
  margin-bottom: 0;
}

.navbar-nav {
  margin: 10px;
}

.nav > li > a {
  display: inline-block;
}

.navbar-brand {
  padding: 15px 0 15px 15px;
}

.header {

}
.navbar-default {
  border-radius: 0;
}

/* Mobile toggle button */
.navbar-default .navbar-toggle {
  border: 0;
  margin: 15px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background: none;
}

.navbar-default .navbar-nav {
  margin: 0;
}

.navbar-default .navbar-nav > li {
  float: none;
}

.navbar-default .navbar-nav > li > a {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  position: relative;
  text-shadow: none;
  padding: 0 15px;
}

.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:focus {
  color: white;
}

.navbar-default .navbar-nav > li > a::after {
  content: '';
  width: auto;
  height: 4px;
  background-color: transparent;
  border-radius: 2px;
  display: block;
  transition: background-color .5s;
  margin-top: 1px;
}

.navbar-default .navbar-nav > li > a:hover {
  color: white;
}

.navbar-default .navbar-nav > li > a:hover::after {
  background-color: var(--coral-color);
}

/* Phones */
@media only screen and (max-width : 400px) {
  img.brand {

  }
}
