.hero {
  background-color: var(--brand-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/images/jumbotron-bkg.jpg);
  text-align: left;
  min-height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__text {
  max-width: 570px;
}