.jumbotron {
  background-color: var(--brand-color);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  border-radius: 0;
  min-height: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-container {
  flex-direction: column;
}

.flex-container h1 {
  color: white;
  display: block;
  margin: auto;
}

.flex-container .lead {
  color: white;
  margin: 20px auto 50px auto;
  font-weight: 300;
  max-width: 75%;
  text-align: center;
}

.button {
  text-color: var(--brand-color);
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}