.newsletter__privacy-policy {

}

.newsletter__email {
  display: flex;
}
.newsletter__email .form_input{
  flex-grow: 2;
  padding: 0 20px;
}

.newsletter__thanks {
  display: none;
}

.newsletter__errors {
  color: var(--red-color);
}

.newsletter__errors ul {
  list-style-type: none;
}

.newsletter .newsletter__subscribe {
  font-size: 26px;
  line-height: 24px;
  font-weight: normal;
}
.newsletter__subscribe-icon {
  padding-left: 10px;
}

.newsletter__privacy {
}

.newsletter__privacy input {
}