<div class="row is-flex">
<div class="activity-card participation col-md-4">
  <header class="item-header">
    <img src="/assets/img/guidelines-header.png" alt="Header image">
  </header>
  <h2><a href="/community-participation-guideline/">Community Participation Guidelines</a></h2>
  <div class="item-content" markdown="1">
Larissa Shapiro, and the D&I Team at Mozilla have been busy this year, developing a 2.0 of the [Mozilla Community Participation](https://www.mozilla.org/en-US/about/governance/policies/participation/) Guidelines(CPG), and we are bringing [this draft to you](https://docs.google.com/document/d/1sElGXuZ0W31iPshvmj0CR2f6woF6V8wqrrJHzJ0pnpU/edit#heading=h.rf21kwgxk0hb), Mozilla's community, for feedback before release in early April. Completing this activity is a valuable contribution to Mozilla, and recognition of that contribution is included as a final step.

[Find out more](/community-participation-guideline/).
  </div>
  <footer class="item-footer">
    <div class="tags">Participation</div>
    <div class="duration">2-3 hours</div>
  </footer>
</div>

<div class="activity-card programming col-md-4">
  <header class="item-header">
    <img src="/assets/img/webextensions-header.png" alt="Header image">
  </header>
  <h2><a href="/webextensions/">Build Your Own WebExtension Add-on for Firefox</a></h2>
  <div class="item-content" markdown="1">
Add-ons provide a safe, simple, and powerful way to personalize your browsing experience. With WebExtensions APIs, it’s easier than ever to create extensions that can be easily ported to Firefox, Chrome, Edge, and Opera. Through this activity you’ll help connect new developers with an opportunity to create add-ons to solve real problems and make their lives and the web better.

[Find out more](/webextensions/).
  </div>
  <footer class="item-footer">
    <div class="tags">Programming</div>
    <div class="duration">1-3 hours</div>
  </footer>
</div>

<div class="activity-card programming col-md-4">
  <header class="item-header">
    <img src="/assets/img/rust-header.png" alt="Header image">
  </header>
  <h2><a href="/rust-hack/">Dive Into Rust</a></h2>
  <div class="item-content" markdown="1">
Rust is a systems programming language important to the future of the web. It runs blazingly fast, prevents segfaults, and guarantees thread safety. With your help, we want more developers to understand, use and evangelize this language in order to make the web better and more secure.

[Find out more](/rust-hack/).
  </div>
  <footer class="item-footer">
    <div class="tags">Programming</div>
    <div class="duration">2-3 hours</div>
  </footer>
</div>

<div class="activity-card programming col-md-4">
  <header class="item-header">
    <img src="/assets/img/webvr-header.png" alt="Header image">
  </header>
  <h2><a href="/webvr-camp/">WebVR Camp</a></h2>
  <div class="item-content" markdown="1">
A-Frame is a web framework for building virtual reality experiences, making it easy for anyone to get involved with virtual reality. Run events to onboard developers into 3D and write some great demos. This will advance WebVR, an open platform for virtual reality that leverages the Web.

[Find out more](/webvr-camp/).
  </div>
  <footer class="item-footer">
    <div class="tags">Programming</div>
    <div class="duration">3-4 hours</div>
  </footer>
</div>

<div class="activity-card testing col-md-4">
  <header class="item-header">
    <img src="/assets/img/webcompat-header.png" alt="Header image">
  </header>
  <h2><a href="/webcompat-sprint/">Web Compatibility Sprint</a></h2>
  <div class="item-content" markdown="1">
Web Compatibility, the ability for all Web content to run in all browsers, is important. There are multiple web content engines running on multiple devices, and sometimes with a little testing and some small tweaks to their site, developers can ensure that more users can have the full experience that is desired. Test sites and spread the message about compatibility.

[Find out more](/webcompat-sprint/).
  </div>
  <footer class="item-footer">
    <div class="tags">Testing</div>
    <div class="duration">2-3 hours</div>
  </footer>
</div>
</div>
<script src="/assets/js/search.js" data-label-text="Filtre pour …"
        data-input-placeholder="étiquette ou titre">
</script>
