<!DOCTYPE html>
<html lang="{{ page.lang }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper container">
        {{ content }}

        <div class="post-languages">
          {% include page-languages.html %}
        </div>

      </div>
    </div>

    <div id="back-top">
      <a href="#top"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></a>
    </div>

    {% include footer.html %}

  </body>

  {% include js.html %}
</html>
