{% assign l = site.data.l10n.[page.lang] %}

<!DOCTYPE html>
<html lang="{{ page.lang }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper container">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    {% include js.html %}
    
    <script src="/assets/js/bootstrap-datepicker.min.js"></script>
    <script src="/assets/js/moment.min.js"></script>
    <script src="/assets/js/impactform.js"></script>

  </body>


</html>
