{% assign l = site.data.l10n.[page.lang] %}

<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="home">
            {{ content }}

            <div class="post-languages">
                {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}

                <p class="language-list">{{ l.languages }}: {% for page in pages %} <a title="{{ page.title }}" href="{{ page.url | prepend: site.baseurl }}">{{page.lang}}</a> {% endfor %}</p>

                <p class="add-translation"><a href="https://github.com/mozilla/activate.mozilla.community#how-to-add-or-update-content">Submit a translation for this page</a></p>
            </div>

        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
