<!DOCTYPE html>
<html lang="{{ page.lang }}" dir="{{ page.pdir }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper container">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    {% include js.html %}
    <script src="/asserts/js/moment.min.js"></script>
    <script src="/asserts/js/bootstrap-sortable.js"></script>
    <script src="/asserts/js/underscore-min.js"></script>
    <script src="/asserts/js/leaderboard.js"></script>

  </body>


</html>
