.text {
  font-family: var(--base-font-family);
  font-weight: var(--base-font-weight);
  font-size: var(--base-font-size);
  color: var(--slate-grey-color);
}

.text--large {
  font-size: var(--text-large-font-size);
  letter-spacing: .1px;
}

.text--lead {
  font-size: var(--text-lead-font-size);
  color: var(--dark-blue-grey-color);
  margin-bottom: 2rem;
}

.text--small {
  font-size: var(--text-small-font-size);
}

.text--centered {
  text-align: center;
}

@media only screen and (min-width : 768px) {
  .text--lead {
    margin-bottom: 6rem;
  }
}
